<%- include('templates/header.ejs') %>

<div class="container d-flex h-100 justify-content-center align-items-center">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <form id="postForm" action="/submitPost" method="post" enctype="multipart/form-data" style="margin-bottom: 80px; overflow: hidden;">
                <!-- Hidden field for postId, randonGenUsername, and randomAvatar -->
                <input type="hidden" id="postId" name="postId" value="<%= postId %>">
                <input type="hidden" id="randomGenUsername" name="randomGenUsername" value="<%= randomGenUsername %>">
                <input type="hidden" id="randomAvatar" name="randomAvatar" value="<%= randomAvatar %>">

                <!-- Other form fields for post title, tag, and content -->
                <h2 style="text-align: center;">Create a Post!</h2>
                <label for="postTitle">Title:</label>
                <input type="text" id="postTitle" name="postTitle" value="<%= postTitle %>" required>
                <br>
                
                <label for="postTag">Tag:</label>
                <select id="postTag" name="postTag" required>
                    <option value="#Optimistic" <%= postTag === '#Optimistic' ? 'selected' : '' %>>#Optimistic</option>
                    <option value="#Happy" <%= postTag === '#Happy' ? 'selected' : '' %>>#Happy</option>
                    <option value="#Recovery" <%= postTag === '#Recovery' ? 'selected' : '' %>>#Recovery</option>
                    <option value="#Gloomy" <%= postTag === '#Gloomy' ? 'selected' : '' %>>#Gloomy</option>
                    <option value="#Trying_Something_New" <%= postTag === '#Trying_Something_New' ? 'selected' : '' %>>#Trying Something New</option>
                    <option value="#Unsure" <%= postTag === '#Unsure' ? 'selected' : '' %>>#I'm Unsure</option>

                </select>
                <br>
              
                <!-- Input field for uploading image -->
                <label for="postImage">Upload Image:</label>
                <input type="file" id="postUploadImage" name="image" value="<%= postUploadImage %>">
                <br>
              
                <!-- Input field for sharing a link -->
                <label for="postLink">Share Link:</label>
                <input type="text" id="postLink" name="postLink" value="<%= postLink %>">
                <br>

                <!-- Checkbox for making comments visible -->
                <label for="makeCommentsVisible">Make Comments Visible:</label>
                <input type="checkbox" id="makeCommentsVisible" name="makeCommentsVisible" value="true" <%= commentVisibility ? 'value="true"' : '' %>>
                <br>
            
                <label for="postContent">Content:</label>
                <textarea id="postContent" name="postContent" rows="3" required><%= postContent %></textarea>
                <br>
            
                <!-- Submit button -->
                <button type="submit" id="submitPostButton">Submit Post</button>
                <button type="button" id="saveDraftButton">Save Draft</button> <!-- Change type to button -->
            </form>
        </div>
        <% if (typeof error !== 'undefined') { %>
            <p><%= error %></p>
        <% } %>
    </div>
</div>



<script>
    document.getElementById('submitPostButton').addEventListener('click', function() {
        document.getElementById('postForm').action = '/submitPost';
        document.getElementById('postForm').submit();
    });

    document.getElementById('saveDraftButton').addEventListener('click', function() {
        document.getElementById('postForm').action = '/savePost';
        document.getElementById('postForm').submit();
    });
</script>

<%- include('templates/footer.ejs') %>