<%- include('templates/header.ejs') %>

<main class="d-flex flex-column justify-content-between" style="min-height: 100vh;">
    <section class="daily-quote text-center pb-5">
        <h2>Daily Quote</h2>
        <p id="quote"></p>
        <script>
            const quotes = [
                "Quote 1",
                "Quote 2",
                "Quote 3",
                "Quote 4",
                "Quote 5"
            ];
            const randomIndex = Math.floor(Math.random() * quotes.length);
            document.getElementById("quote").textContent = quotes[randomIndex];
        </script>
    </section>

    <section class="grid-container pb-5"> <!-- Add pb-5 class for padding at the bottom -->
        <h2 class="text-center">Recent Posts</h2>
        <div class="row">
            <% storyPosts.forEach(function(post) { %>
                <div class="col-md-4 mb-4">
                    <a href="/post/<%= post._id %>" class="card-link"> <!-- Add anchor tag wrapping the card -->
                        <div class="card shadow">
                            <div class="card-body">
                                <h5 class="card-title"><%= post.postTitle %></h5>
                                <p class="card-text"><%= post.postTag %></p>
                            </div>
                        </div>
                    </a>
                </div>
            <% }); %>
        </div>
    </section>
</main>

<%- include('templates/footer.ejs') %>
