<%- include('templates/header.ejs') %>
<head>
    <style>
        /* Custom CSS */
        .mt-200 {
            margin-top: 200px;
        }
    </style>
</head>
<body>
    <section class="grid-container pb-5 mt-200"> <!-- Add pb-5 class for padding at the bottom and mt-200 for margin at the top -->
        <div class="row">
            <% userPosts.forEach(function(post) { %>
                <div class="col-md-4 mb-4">
                    <a href="/createPost?title=<%= encodeURIComponent(post.postTitle) %>&tag=<%= encodeURIComponent(post.postTag) %>&image=<%= encodeURIComponent(post.postUploadImage) %>&link=<%= encodeURIComponent(post.postLink) %>&content=<%= encodeURIComponent(post.postContent) %>&comments=<%= encodeURIComponent(JSON.stringify(post.comments)) %>&visibility=<%= encodeURIComponent(post.commentVisibility) %>&postID=<%= encodeURIComponent(post.postId) %>" class="card-link"> <!-- Add anchor tag wrapping the card -->
                        <div class="card shadow">
                            <div class="card-body">
                                <h5 class="card-title"><%= post.postTitle %></h5>
                                <p class="card-text"><%= post.postTag %></p>
                            </div>
                        </div>
                    </a>
                </div>
            <% }); %>
        </div>
    </section>
    
    <script>
        
    </script>
</body>

<%- include('templates/footer.ejs') %>
